@font-face { font-family: "Manrope"; src: url("https://fonts.gstatic.com/s/manrope/v14/xn7gYHE41ni1AdIRggexSg.woff2") format("woff2"); font-style: normal; font-weight: 300; unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

.parallax {
  -webkit-perspective: 1px;
  perspective: 1px;
  -webkit-perspective-origin: center;
  perspective-origin: center;
  overflow: auto;
  overflow-x: hidden;
  padding-top: 0vh;
}

.parallax .group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}

.parallax .group2 {
  position: absolute;
  height: 100vh;
  transform-style: preserve-3d;
}

.parallax .layer {
  position: absolute;
  width: 100%;
  height: 100vh;
}

.parallax .layer2 {
  position: absolute;
  width: 100%;
  height: 100vh;
}

#city1 {
  fill: #111115;
  -webkit-transform: translateZ(0px) scale(1);
  transform: translateZ(0px) scale(1);
}

#city2 {
  fill: #242324;
  -webkit-transform: translateZ(-.25px) scale(1.25);
  transform: translateZ(-.25px) scale(1.25);
}

#city3 {
  fill: #343741;
  -webkit-transform: translateZ(-.5px) scale(1.5);
  transform: translateZ(-.5px) scale(1.5);
}

#city4 {
  fill: #111115;
  -webkit-transform: translateZ(-.75px) scale(1.75);
  transform: translateZ(-.75px) scale(1.75);
}

#city5 {
  fill: #7c7c86;
  -webkit-transform: translateZ(-1.00px) scale(2);
  transform: translateZ(-1.00px) scale(2);
}

#mountain1 {
  fill: #46525e;
  -webkit-transform: translateZ(-2.25px) scale(3.25);
  transform: translateZ(-2.25px) scale(3.25);
}

#mountain2 {
  fill: #5a6a79;
  -webkit-transform: translateZ(-2.5px) scale(3.5);
  transform: translateZ(-2.5px) scale(3.5);
}

#mountain3 {
  fill: #6d859f;
  -webkit-transform: translateZ(-3px) scale(4);
  transform: translateZ(-3px) scale(4);
}

#mountain4 {
  fill: #cbd6da;
  -webkit-transform: translateZ(-3.5px) scale(4.5);
  transform: translateZ(-3.5px) scale(4.5);
}

#sun {
  stroke-width: 0;
  fill: #ffc104;
  -webkit-transform: translateZ(-6px) scale(7);
  transform: translateZ(-6px) scale(7);
}
.content-container .md-button.md-default-theme.md-fab {
  background-color: #ff7e00;
  color: #FFF;
}

#city2-front {
  background-image: linear-gradient(#111115, #1a1a1f); 
  height: 20vh;
  margin-top: -1vh;
}

#presentation {
  /* background-color: #111115; */
  background-image: linear-gradient(#1a1a1f,#000);
  background-color: #111115; 
  color: #bebebe;
  vertical-align: middle;
  text-align: center;
  min-width: 100vw;
  height: 40vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: -40vh;

}

.presentation2 {
  flex: 1;
  color: #bebebe;
  min-width: 50vw;
  margin:auto;
  vertical-align: middle;
}

.presentation3 {
  margin:auto;
  color: #bebebe;
  min-width: 50vw;
}

.front-intro {
  margin: 0rem;
  font-size: 0.8rem;
  font-family: Manrope, sans-serif; 
  line-height: 1.7;
  text-align: left;
  padding: 0 0 0 4rem;
}

.landing-message {
  padding: 5em;
  text-align: center;
  font-size: large;
  text-transform:uppercase;
  color:#a594be;
  vertical-align: middle;
}

#tunnel {
  background-image: url("../../assets/images/blackwhite.jpeg");
  background-color: #000000;
  background-position: center;
  min-width: 100vw;
  height: 50vh;
  -webkit-transform: translateZ(0px) scale(1);
  transform: translateZ(0px) scale(1);
}

.md-header {
  max-width: 100%; /* or 100%, if you want to stretch to full-width */
}

.md-header__inner {
  max-width: unset; /* or 100%, if you want to stretch to full-width */
  max-width: 61rem; /* or 100%, if you want to stretch to full-width */
}

.md-content__inner {
  margin: 0;
  max-width: 100%;
  padding: 0;
}

.md-content__inner::before {
  height: unset;
}

.md-sidebar--primary .md-sidebar--secondary {
  margin: 0;
  top: 0;
}

.md-main {
  background-image: unset;
}

.md-grid {
  /* max-width: 61rem; */
  max-width: 61rem;

}

.md-main__inner {
  margin: 0;
  max-width: unset;
  width: 100%;
}



.md-sidebar--secondary {
  width: 0;
}


@media screen and (min-width:76.25em) {
  [dir=ltr] .md-sidebar--primary:not([hidden])~.md-content>.md-content__inner {
   margin-left:0rem
  }
  [dir=ltr] .md-sidebar--secondary:not([hidden])~.md-content>.md-content__inner,
  [dir=rtl] .md-sidebar--primary:not([hidden])~.md-content>.md-content__inner {
   margin-right:0rem
  }
  [dir=rtl] .md-sidebar--secondary:not([hidden])~.md-content>.md-content__inner {
   margin-left:0rem
  }
 }
