.md-main {
  # background-image: url("../images/streetart2.jpg");
  background-image: url("../images/office.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60%;
  background-attachment: fixed;
}

.md-typeset {
  font-size: .6rem;
}
